.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: aliceblue;
  box-shadow: 0 1px 3px 0 aliceblue;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 whitesmoke;
}

.StripeElement--webkit-autofill {
    background-color: whitesmoke !important;
  }

.stripe-style-input:placeholder {
    color: antiquewhite;
}

.fieldset-label {
    position: relative;
    right: .3rem;
}

#payment-form .form-control,
#card-element {
    color: rgb(159, 167, 173);
    border: 1px solid rgb(11, 127, 228);
}